<div style="width: 400px; margin: auto;">
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="title">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="tutorial.nombre"
          name="title"
        />
      </div>
      <br>
      <div class="form-group">
        <label for="description">Cafes consumidos</label>
        <input
          type="number" 
          class="form-control"
          id="description"
          required
          [(ngModel)]="tutorial.cafes"
          name="description"
        />
      </div>
      <br>
      <button (click)="saveTutorial()" class="btn btn-success">Añadir</button>
    </div>

    <div *ngIf="submitted">
      <h4>Envio correcto</h4>
      <button class="btn btn-success" (click)="newTutorial()">Añadir</button>
      &nbsp;
      <button class="btn btn-primary" routerLink="/">Página principal</button>
    </div>
  </div>
</div>
