<div style="text-align: center;">
  <nav class="navbar navbar-expand navbar-dark bg-orange justify-content-center" style="background-color: #faa83dde;">
    <a href="#" class="navbar-brand" style="color: black;"> &nbsp; C.A.F.E.</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="add" class="nav-link" style="color: black;">Añadir nueva persona</a>
      </li>
    </div>
  </nav>
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>

</div>
